<form>
    <mat-form-field>
        <input type="text"
            matInput
            placeholder="login"
            [(ngModel)]="userName"
            name="userName"
            required
            minlength="3">
    </mat-form-field><br>
    <mat-form-field>
        <input type="password"
            matInput
            placeholder="password"
            [(ngModel)]="password"
            name="password"
            required
            minlength="3">
    </mat-form-field>
</form>
<button (click)='login()' mat-button>login</button>