
<mat-card *ngIf="hero">
  <form>
    <mat-form-field>
        <input type="text" 
            matInput
            placeholder="name"
            [(ngModel)]="hero.name"
            name="name"
            required
            minlength="3">
    </mat-form-field><br>
    <mat-form-field>
        <mat-label>Class</mat-label>
        <select matNativeControl [(ngModel)] = "hero.heroClass._id" required name="heroClass">
            <option  *ngFor="let i of heroClasses" [ngValue]="i._id">{{i.className}}</option>
        </select>
    </mat-form-field><br>
    <mat-form-field>
        <mat-label>Level</mat-label>
        <input type="number" value="1"
            matInput
            min="1"
            max="81" 
            [(ngModel)]="hero.level"
            name="level">
    </mat-form-field><br>
    <mat-form-field>
        <mat-label>age</mat-label>
        <input type="number" value="0"
            matInput
            min="0"
            [(ngModel)]="hero.age"
            name="age">
    </mat-form-field><br>
    <mat-form-field>
        <input type="text" 
            matInput
            placeholder="faction"
            [(ngModel)]="hero.faction"
            name="faction">
    </mat-form-field>
  </form>
  <button (click) = 'save()'>save</button>
</mat-card>